/* Conteneur global de l'application */
.shell {
  display: flex;
  background-color: var(--bg-base);
}

/* Zone de contenu principale */
/* En desktop, on laisse un d e9calage  e0 gauche pour la barre lat 1arale fixe */
.content {
  flex: 1;
  margin-left: 4rem; /*  e9quiv. ml-16 */
  background: var(--bg-base);
}

/* --- Responsive --- */
/* Sur mobile, la barre lat 1arale devient une barre du bas :
   - on retire le d e9calage gauche
   - on ajoute un padding bas pour ne pas cacher le contenu sous la nav */
@media screen and (max-width: 768px) {
  .shell {
    display: block; /* flux vertical naturel */
  }
  .content {
    margin-left: 0;
    padding-bottom: 56px; /* espace pour la nav du bas */
  }
} 